/*////////////////////////////////////
BASIC HTML STUFF
////////////////////////////////////*/

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Raleway', sans-serif;
    color: #460ee0;
    font-size: 6em;
    text-transform: uppercase;
    text-align: center;
}   

p {
    font-family: 'Noto Serif', serif;
    font-size: 1em;
}

a {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    color: black;
    text-decoration: none;
}
a:hover {
    font-weight: bold;
}

img {
    height: 500px;
    width: 400px;
}

/*////////////////////////////////////
BUTTONS
////////////////////////////////////*/

.backbutton{
    position: fixed;
    display: flex;
    height: 2em;
    width: 4em; 
    top: 4vh;
    left: 3vh;
    align-items: center;
    justify-content: center;
    /* background-color: chartreuse; */
    text-align: center;
}

.next-button, .previous-button{
    position: fixed;
    display: flex;
    height: 2em;
    width: 6em;
    align-items: center;
    justify-content: center;
    /* background-color: coral; */
}

.next-button {
    top: 95vh;
    right: 3vh;
}

.previous-button {
    top: 95vh;
    left: 3vh;
}

.title {
    position: fixed;
    text-align: center;
    top: 4vh;
    left: 50%;
    transform: translate(-50%, -10px);
    z-index: 5;
}

/*////////////////////////////////////
CONTAINER
////////////////////////////////////*/

.grid-container{
    display: grid;
    margin: 5vh 100px 5vh;
    /* grid-template: 15vh repeat(5, 15vh) / 20vh repeat(2, 40vh); */
    grid-template: minmax(8vh, 17vh) repeat(8, 8vh) / repeat(10, 8vh);
    grid-gap: 20px 40px;
    justify-content: center;
    align-content: center;
    /* height: 90vh; */
}

    .grid-title {
        grid-column: 3 / span 3;
        grid-row: 1 /span 1;
        text-align: center;
        z-index: 3;
        width: 100%;
        height: 100%;
        /* background-color: cornflowerblue; */
    }

    .grid-img {
        grid-column: 2 / span 4;
        grid-row: 2 / span 5;

    }

    .grid-date {
        grid-column: 3 / span 1;
        grid-row: 7 / span 1;

        text-align: right;
        align-self: end;
        font-size: 0.8rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    .grid-text {
        grid-column: 4 / span 5;
        grid-row: 7 /span 3;

        overflow: visible;
        text-align: justify;
    }

    .grid-img-sub {
        grid-column: 2 / span 2;
        grid-row: 8 /span 1;
        
        text-align: right;
        font-size: 0.8rem;
        font-weight: lighter;

    }

    img {
        width: 100%;
        height: 100%;
    }

/*////////////////////////////////////
IMG Carousel
////////////////////////////////////*/

.carousel {
    width: 100%;
    height: 100%;
    position: relative;
    
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}  

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button{
    position: absolute;
    z-index: 3;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(70, 14, 224, 0.5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 0.5rem;
} 

.carousel-button:hover, 
.carousel-button:focus {
    color: #460ee0;
    background-color: rgba(0,0, 0, 0.2); ;
}

.carousel-button:focus {
    outline: 1px solid black;

}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}