* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: beige;
}

html {
    scroll-behavior: smooth;
  }

.backbutton{
    position: fixed;
    height: 30px;
    width: 90px;
    background-color: chartreuse;
}

.next-button .previous-button{
    position: fixed;
    height: 30px;
    width: 90px;
    background-color: coral;

}

.grid-container{
    display: grid;
    margin: 40px 100px 20px;
    grid-template: 10vh repeat(5, 15vh) / 20vh repeat(2, 40vh);
    grid-gap: 20px;
    justify-content: center;
    align-content: center;
    height: 90vh;
    /*grid-template-areas:
        "title title title" 
        "img img blank"
        "img img blank"
        "img img date"
        "blank text text"
        "blank text text"*/
        background-color: brown;
}

.grid-title{
    grid-column: span 3;
    grid-row: span 1;
    background-color: cornflowerblue;
    text-align: center;
    align-self: start;
    
}

.grid-img {
    grid-column: span 2;
    grid-row: 2 / span 3;
    background-color: aqua;

}

.grid-date {
    grid-column: 3 / span 1;
    grid-row: 4 / span 1;
}

.grid-text {
    grid-column: 2 / span 2;
    grid-row: 5 /span 2;
}

.img {
    height: 100%;
    width: 100%;
    
}