/*////////////////////////////////////
BASIC HTML STUFF
///////////////////////////////////*/
*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-size: cover;
    background-color: #ffffff; 
}

main {
    margin: auto;
    width: 100%;
    overflow: scroll;
}

h1 {
    font-family: 'Raleway', sans-serif;
}
p {
    font-family: 'Manrope', serif;
}
/*////////////////////////////////////
IMG GRID CONTAINER
///////////////////////////////////*/

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 280px));
    gap: 50px;
    margin: 50px;
    align-content: start;
    justify-content: center;
}

    .link {
        z-index: 1;
    }

    .container img {
        display: block;
        max-width: 100%;
        object-fit: cover;
    }
    
/*////////////////////////////////////
TTITLE GRID CONTAINER
///////////////////////////////////*/

.title-container {
        display: grid;
        margin: 25px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5px 1fr;
        gap: 0px 0px;
    }   
    .title {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        color: black;
        font-size: 2em;
        }
    #birbaum {
        grid-area: birbaum;
        grid-area: 1 / 1 / 2 / 2;
        justify-self: start;
    }
    /* #plus {
        grid-area: plus;
        grid-area: 2 / 1 / 2 / 2;
        justify-self: start;
        align-self: center;
        font-weight: 550;
        font-size: 3em;
    } */
    #plus {
        display: none;
    }
    #architektur {
        grid-area: architektur;
        grid-area: 3 / 1 / 3 / 3;
        justify-self: start ;
    }

    #placeholder {
        grid-area: placeholder;
        grid-area: 3 / 1 / 4 / 2;
        opacity: 0;
        background-color: blue;
    }



/*////////////////////////////////////
RESPONSIVE
///////////////////////////////////*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container{
        margin: 50px 20px;
        grid-template-columns: repeat(auto-fit, minmax(100px, 280px));
        /* background-color: pink; */
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container{
        margin: 50px 20px;
        /* background-color: violet; */
    }
    .title-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 20px 1fr;
        gap: 10px 0px;
    }   
    .title {
            font-family: 'Raleway', sans-serif;
            font-weight: 800;
            color: black;
            font-size: 4em;
    }
    #birbaum {
        grid-area: birbaum;
        grid-area: 1 / 1 / 2 / 2;
        justify-self: center;
    }
    #plus {
        display: initial;
        grid-area: plus;
        grid-area: 2 / 1 / 2 / 2;
        justify-self: center;
        align-self: center;
        font-weight: 550;
        font-size: 5em;
    }
    #architektur {
        grid-area: architektur;
        grid-area: 3 / 1 / 3 / 3;
        justify-self: center;
    }

    #placeholder {
        grid-area: placeholder;
        grid-area: 3 / 1 / 4 / 2;
        opacity: 0;
    }
    
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container{
        margin: 50px 50px;
        /* background-color: blue; */
    }

    .title-container {
        position: fixed;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 70px 1fr;
        gap: 25px 0px;
        margin: 0px 50%;
        top: 45%;
        transform: translate(-50%, -50%);
    }
    .title {
        font-size: 80pt;
        font-weight: 800;
    }
    #plus {
        font-size: 100pt;
        font-weight: 600;
    }



    /*////////////////////////////////////
    ANIMATION
    ///////////////////////////////////*/

    .remove-title{
        animation: remove-title 300ms ease-in forwards;
        animation-fill-mode: forwards;
    }

    .translateUp {
        animation: translateUp 700ms ease-in forwards;
        animation-fill-mode: forwards;
    }
    .translateDown {
        animation: translateDown 700ms ease-in forwards;
        animation-fill-mode: forwards;
    }

    .nonedisplay{
        display: none;
    }

    @keyframes remove-title {
        0% {
            opacity: 100%;
        }
        99%{
            margin: auto;
        }
        100% {
            opacity: 0%;
            margin: 0;
            padding: 0;
        }
        
    }

    @keyframes translateUp {
        100% {
            transform: translateY(-150px);
        }
    }
    @keyframes translateDown {
        100% {
            transform: translateY(150px);
        }
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container{
        margin: 50px 100px;
        grid-template-columns: repeat(auto-fit, minmax(100px, 280px));
        /* background-color: #FFDC00; */
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .body {
        overflow: scroll;
    }
    .container{
        margin: 50px 50px;
        grid-template-columns: repeat(auto-fit, minmax(100px, 280px));
        /* background-color: red; */
    }
    
}

/* XXXL devices (large laptops and desktops, 1670px and up) */
@media only screen and (min-width: 1670px) {

    .home {
        position: fixed;
        width: 1600px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }
    
    .title-container{
        position: fixed;
        display: grid;
        grid-template-columns: auto 60px auto;
        grid-template-rows: 1fr 60px 1fr;
        gap: 50px 10px;
        margin: 0px;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        }
    
    #birbaum {
        grid-area: birbaum;
        grid-area: 1 / 1 / 2 / 1;
        justify-self: end;
        align-self: end;
    }
    #plus {
        grid-area: plus;
        grid-area: 2 / 2 / 3 / 3;
        justify-self: center;
        align-self: center;
        
    }
    #architektur {
        grid-area: architektur;
        grid-area: 3 / 3 / 4 / 4;
        justify-self: end;
    }
    #placeholder {
        grid-area: placeholder;
        grid-area: 3 / 1 / 4 / 2;
        opacity: 0;
    }
    
}