* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: beige;
    /*display: flex;
    justify-content: center;        not suported in live-Browser Plug in*/
}

html {
    scroll-behavior: smooth;
  }

.top, .bottom {
    background-color: rgb(235, 0, 247);
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    font-size: 0;
    height: 500px;
    margin: 20px;
}

.container-top {
    background-color: aqua;
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(12, 300px [col-start]);
    grid-template-rows: repeat(1, 460px [row-start]);
    gap: 30px;
}
    .project-1 {
        background-color: red;
        /* Name of the Grid Area*/
        grid-area: project-1;   
        /* Pos.: row start / column start / row end /column end*/
        grid-area: 1 / 1 / span 1 / span 2; 
    }
    .project-2 {
        background-color: red;
        grid-area: project-2;   
        grid-area: 1 / 3 / span 1 / span 2; 
    }
    .project-3 {
        background-color: red;
        grid-area: project-3;   
        grid-area: 1 / 5 / span 1 / span 2; 
    }
    .project-4 {
        background-color: red;
        grid-area: project-4;   
        grid-area: 1 / 7 / span 1 / span 2; 
    }
    .project-5 {
        background-color: red;
        grid-area: project-5;   
        grid-area: 1 / 9 / span 1 / span 2; 
    }
    .project-6 {
        background-color: red;
        grid-area: project-6;   
        grid-area: 1 / 11 / span 1 / span 2; 
    }


.container-bottom {
        background-color: aqua;
        display: grid;
        margin: 20px;
        grid-template-columns: repeat(12, 300px [col-start]);
        grid-template-rows: repeat(1, 460px [row-start]);
        gap: 30px;
    }
        .container-bottom {
    background-color: aqua;
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(12, 300px [col-start]);
    grid-template-rows: repeat(1, 460px [row-start]);
    gap: 30px;
}
    .info-1 {
        background-color: red;
        /* Name of the Grid Area*/
        grid-area: project-1;   
        /* Pos.: row start / column start / row end /column end*/
        grid-area: 1 / 1 / span 1 / span 2; 
    }
    .info-2 {
        background-color: red;
        grid-area: project-2;   
        grid-area: 1 / 3 / span 1 / span 2; 
    }
    .info-3 {
        background-color: red;
        grid-area: project-3;   
        grid-area: 1 / 5 / span 1 / span 2; 
    }
    .info-4 {
        background-color: red;
        grid-area: project-4;   
        grid-area: 1 / 7 / span 1 / span 2; 
    }
    .info-5 {
        background-color: red;
        grid-area: project-5;   
        grid-area: 1 / 9 / span 1 / span 2; 
    }
    .info-6 {
        background-color: red;
        grid-area: project-6;   
        grid-area: 1 / 11 / span 1 / span 2; 
    }
/*
.top {
    background-color: rgb(235, 0, 247);
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    font-size: 0;
    min-width: 90vh;
    height: 500px;
    margin: 20px;
    padding: 20px;
}

.top-gallery {
    flex: 0 0 auto;
    background-color: chartreuse;
    height: 460px;
    width: 300px;
    margin-right: 20px;
}

.bottom {
    background-color:blue;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    font-size: 0;
    min-width: 90vh;
    height: 500px;
    margin: 20px;
    padding: 20px;
}

.bottom-gallery {
    flex: 0 0 auto;
    background-color: chartreuse;
    height: 460px;
    width: 300px;
    margin-right: 20px;
}
*/

