/*////////////////////////////////////
BASIC HTML STUFF
////////////////////////////////////*/

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --correction-value: 40px;
}
html {
    scroll-behavior: smooth;
}
.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: #497073;
    font-size: 5.3em;
    text-transform: uppercase;
}   
h2 {
    font-family: 'Raleway Light', sans-serif;
    color: black;
    font-size: 0.8em;
    text-transform: lowercase;
}
h3 {
    font-family: 'Manrope Black', sans-serif;
    color: black;
    font-size: 1.6em;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-top: 2em;
    text-transform: uppercase;
}      

p {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
}

.txt p {
    margin: 0 0 2em 0;
    text-align: justify;
}

a {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    color: black;
    text-decoration: none;
}
a:hover {
    font-weight: bold;
}

/*////////////////////////////////////
BUTTONS
////////////////////////////////////*/

.backbutton{
    position: fixed;
    display: flex;
    height: 2em;
    width: 4em; 
    top: 4vh;
    right: 3vh;
    align-items: center;
    justify-content: center;
    /* background-color: chartreuse; */
    text-align: center;
    z-index: 10;
    color: #EB6340;
}

.next-button, .previous-button{
    position: fixed;
    display: flex;
    height: 2em;
    width: 6em;
    align-items: center;
    justify-content: center;
    z-index: 10;
    color: #EB6340;
}

.next-button {
    top: 95vh;
    right: 3vh;
}

.previous-button {
    top: 95vh;
    left: 3vh;
}

/*////////////////////////////////////
GRID CONTAINER
////////////////////////////////////*/

.grid-container{
    /* grid-template: 15vh repeat(5, 15vh) / 20vh repeat(2, 40vh);
    grid-template: auto repeat(5, 8vh) auto repeat(5, 8vh) / repeat(10, 8vh); */
    transform-style: preserve-3d;
    display: grid;
    margin: 5vh 55px 5vh;
    grid-template-columns: repeat(12, 8vh);
    grid-template-rows: 8vh, 64vh, 8vh;
    grid-gap: 20px 40px;
    
    grid-template-areas:
    ". . . tit tit tit tit tit tit tit . . "
    "imgl imgl imgl main main main main main main imgr imgr imgr"
    ". txt2 txt2 txt2 txt2 txt2 txt2 txt2 txt2 txt2 . .";
    
    justify-content: center;
    align-content: center;
} 

/*////////////////////////////////////
GRID ITEMS
////////////////////////////////////*/

    .tit {
        /* border: 1px solid black;
        padding: 20px; */
        grid-area: tit;
        z-index: 3;
        width: 100%;
        height: 100%;
    }
    .title-grid-align {
        transform: translate(-7px, -20px);
    } 
    .main {
        position: relative;
        grid-area: main;
        transform-origin: top center;
        
    }

    .txt {
        background-color: rgba(255, 255, 255, 0.5);
        overflow: scroll;
        
    }
    .txt2 {
        border: 1px solid black;
        padding: 20px;
        grid-area: txt2;
    }
    .grid-date-1 {
        grid-column: 1 / span 8;
        grid-row: 2 / span 1;
        color: #497073;
        text-align: left;
        align-self: start;
        text-transform: lowercase;
    }
 
    .grid-text-title {
        font-weight: bold;
        align-self: baseline;
        margin-bottom: 0.3em;
    }
    
/*////////////////////////////////////
    GRID ITEMS - IMAGES
////////////////////////////////////*/

.image {
       z-index: -1;
       overflow: hidden;
       
   }

.image img {
    object-fit: cover;
    max-height: 400px;
}

.txt img {
    object-fit: cover;
    max-height: 800px;
    width: 100%;
    margin-bottom: 1.5em;
}

    .imgl {
        grid-area: imgl;
        transform: translateZ(-10px) scale(2) translateX(-74%) translateY(11%);
        max-height: 400px;
        overflow: hidden;
    }
    .imgr {
        grid-area: imgr;
        align-self: center;
        transform: translateZ(-10px) scale(2) translateX(74%) translateY(11%);
        max-height: 400px;
        overflow: hidden;
    }

    /* #float-left {
        float: left;
    }
    #float-right {
        float: right;
        transform: translate(0, 24vh);
    } */

    #text-image{
        width: 100%;
        height: auto;
        float: inline-start;
    }

